.About {
  background-color: #f0e8da; // Całe tło sekcji w kolorze zielonym
  padding: 40px 20px; // Dodatkowe paddingi dla lepszego wyglądu
  display: flex;
  justify-content: center;
  align-items: center;


  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%; // Pełna szerokość kontenera
    
    .text-container {
      flex: 1; // Zajmuje dokładnie połowę kontenera
      padding-right: 20px;

      h2 {
        font-size: 36px;
        color: #333;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        color: #666;
        line-height: 1.6;
      }

      button {
        font-size: 18px;
        padding: 12px 24px;
        background-color: #82c0cc;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken(#82c0cc, 10%);
        }
      }
    }

    .image-container {
      flex: 1; // Zajmuje dokładnie połowę kontenera
      text-align: right;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 10px; // Zaokrąglone rogi obrazka
      }
    }
  }
}
