/* Contact.scss */
.contact-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.contact-wrapper .rectangle {
  background: #e6f4d7;
  width: 70%;
  height: 80%;
  margin-left: 5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.contact-wrapper img {
  z-index: 1;
  position: absolute;
  height: 100%;
  mix-blend-mode: multiply;
  right: -40%;
  transform: scale(.8);
  filter: grayscale(100%);
}

.contact-wrapper .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.contact-wrapper .content h1 {
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}
.h1-Contact,
.p-Contact{
  color: black;
  padding-right: 320px
}

.contact-wrapper .content p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

.contact-wrapper ::selection {
  background: #e6f4d7; /* lightened red */
  color: #f0e8da; /* darkened red */
}
